/* Custom styles to complement Bootstrap */
body {
    background-color: #f4f4f4;
}

.container {
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 70%;
    margin-right: 10px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    button[type="submit"]:hover {
        background-color: #0056b3;
    }

.error {
    color: red;
    text-align: center;
}

.weather-info {
    text-align: center;
    margin-bottom: 20px;
}

.weather-icon img {
    width: 100px;
    height: 100px;
}

.forecast-info {
    text-align: center;
}

.disclaimer {
    text-align: center;
    font-size: 12px;
    color: #777;
}

.github-icon {
    text-align: center;
    margin-top: 20px;
}

    .github-icon a {
        color: #333;
        font-size: 24px;
        transition: color 0.3s;
    }

        .github-icon a:hover {
            color: #000;
        }

.forecast-scroll {
    overflow-x: auto;
    white-space: nowrap;
}

.forecast-item {
    display: inline-block;
    width: 200px;
    margin-right: 10px;
    text-align: center;
}

.forecast-icon, .weather-icon {
    display: inline-block;
    background-color: #c0c0c0;
    border-radius: 50%;
    padding: 8px;
}